<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include "header.html" %}
    <main>
      <section>
        <h3>Etwas über mich</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum
          laudantium culpa fuga! Provident non culpa quaerat corrupti, beatae
          autem dignissimos soluta inventore reiciendis eos, animi
          exercitationem minima sit. Saepe, omnis?
        </p>
      </section>
      <section>
        <h3>Skills</h3>
        <p>Mit diesen Tools und Sprachen arbeite ich jeden Tag</p>
        <ul>
          {% for skill in skillsList %}
          <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h3>Kontakt</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
          rem voluptate tempore voluptas corrupti cupiditate quis inventore
          quisquam incidunt excepturi, rerum, blanditiis ipsa impedit animi
          eligendi. Dicta consequatur dolore voluptates?
        </p>
        <p>Sie können mich zu jeder Zeit über das Kontaktformular erreichen.</p>
      </section>
    </main>
    {% include "footer.html" %}
  </body>
</html>
